/* Tabamo, Euan Jed S. | B-1L */
/* Exercise 9 - November 14, 2023 */
/* This is the CSS for the previous exercise. */

/* Credits

Neumorphism
https://neumorphism.io/

Josh W. Comeau
https://www.joshwcomeau.com/shadow-palette/
https://www.joshwcomeau.com/gradient-generator/

Fluent Emoji
https://github.com/microsoft/fluentui-emoji

Shave Divider
https://www.shapedivider.app/

Realtime Colors
https://www.realtimecolors.com/

Google Fonts
IBM Plex Sans - https://fonts.google.com/specimen/IBM+Plex+Sans
Inter - https://fonts.google.com/specimen/Inter

Modern CSS
https://moderncss.dev/pure-css-custom-styled-radio-buttons/
https://moderncss.dev/pure-css-custom-checkbox-style/

Typescale
https://typescale.com/

Glassmorphism
https://ui.glass/generator/

Mesher
https://csshero.org/mesher/
*/

@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;0,600;0,700;1,400&family=Inter:wght@400;600;800&display=swap");

/* VARIABLES */
:root {
  --text: #07090d;
  --background: #f6f5ee;
  --gray: #e4e4e4;
  --primary: #a2c2f6;
  --secondary: #a6a7ee;
  --accent: #3c5faa;
  --glass-primary: rgba(162, 194, 246, 0.75);
  --glass-secondary: rgba(166, 167, 238, 0.75);
  --glass-accent: rgba(60, 95, 170, 0.75);
  --h1: 3.815rem;
  --h2: 3.052rem;
  --h3: 2.441rem;
  --h4: 1.953rem;
  --h5: 1.563rem;
  --h6: 1.25rem;
  --p: 1rem;
  --small: 0.8rem;
  --tiny: 0.64rem;
  --ibm-plex-sans: "IBM Plex Sans", sans-serif;
  --inter: "Inter", sans-serif;
  --shadow-color: 0deg 0% 0%;
  --shadow-elevation-low: 0px 0.5px 0.6px hsl(var(--shadow-color) / 0.1),
    0px 0.8px 0.9px -1.2px hsl(var(--shadow-color) / 0.1),
    0px 2px 2.3px -2.5px hsl(var(--shadow-color) / 0.1);
  --shadow-elevation-medium: 0px 0.5px 0.6px hsl(var(--shadow-color) / 0.11),
    0px 1.6px 1.8px -0.8px hsl(var(--shadow-color) / 0.11),
    0px 4px 4.5px -1.7px hsl(var(--shadow-color) / 0.11),
    -0.1px 9.8px 11px -2.5px hsl(var(--shadow-color) / 0.11);
  --shadow-elevation-high: 0px 0.5px 0.6px hsl(var(--shadow-color) / 0.1),
    0px 2.9px 3.3px -0.4px hsl(var(--shadow-color) / 0.1),
    0px 5.3px 6px -0.7px hsl(var(--shadow-color) / 0.1),
    -0.1px 8.8px 9.9px -1.1px hsl(var(--shadow-color) / 0.1),
    -0.1px 14px 15.8px -1.4px hsl(var(--shadow-color) / 0.1),
    -0.2px 21.9px 24.6px -1.8px hsl(var(--shadow-color) / 0.1),
    -0.3px 33.3px 37.5px -2.1px hsl(var(--shadow-color) / 0.1),
    -0.5px 49px 55.1px -2.5px hsl(var(--shadow-color) / 0.1);
}

/* TYPOGRAPHY */
h1 {
  font-family: var(--ibm-plex-sans);
  font-weight: 700;
  font-size: var(--h1);
  color: var(--text);
  margin: 0 0 0.2em 0;
}
h2 {
  font-family: var(--ibm-plex-sans);
  font-weight: 700;
  font-size: var(--h2);
  color: var(--text);
  margin: 0 0 0.2em 0;
}
h3 {
  font-family: var(--ibm-plex-sans);
  font-weight: 700;
  font-size: var(--h3);
  color: var(--text);
  margin: 0 0 0.2em 0;
}
h4 {
  font-family: var(--ibm-plex-sans);
  font-weight: 700;
  font-size: var(--h4);
  color: var(--text);
  margin: 0 0 0.2em 0;
}
h5 {
  font-family: var(--ibm-plex-sans);
  font-weight: 700;
  font-size: var(--h5);
  color: var(--text);
  margin: 0 0 0.2em 0;
}
h6 {
  font-family: var(--ibm-plex-sans);
  font-weight: 700;
  font-size: var(--h6);
  color: var(--text);
  margin: 0 0 0.2em 0;
}
p {
  font-family: var(--inter);
  font-weight: 400;
  font-size: var(--p);
  color: var(--text);
  margin: 0 0 0.2em 0;
}

/* CLASSES FOR SHADOWS (BG COLOR) */
.shadow-background-elevation-low {
  box-shadow: 0px 0.5px 0.6px hsl(53deg 10% 59% / 0.34),
    0px 0.8px 0.9px -1.2px hsl(53deg 10% 59% / 0.34),
    0px 1.9px 2.1px -2.5px hsl(53deg 10% 59% / 0.34);
}

.shadow-background-elevation-medium {
  box-shadow: 0.5px 0.6px hsl(53deg 10% 59% / 0.36),
    0px 1.6px 1.8px -0.8px hsl(53deg 10% 59% / 0.36),
    0px 4px 4.5px -1.7px hsl(53deg 10% 59% / 0.36),
    0px 9.7px 10.9px -2.5px hsl(53deg 10% 59% / 0.36);
}

.shadow-background-elevation-high {
  box-shadow: 0.5px 0.6px hsl(53deg 10% 59% / 0.34),
    0px 2.8px 3.1px -0.4px hsl(53deg 10% 59% / 0.34),
    0px 5.3px 6px -0.7px hsl(53deg 10% 59% / 0.34),
    0px 8.7px 9.8px -1.1px hsl(53deg 10% 59% / 0.34),
    0px 13.8px 15.5px -1.4px hsl(53deg 10% 59% / 0.34),
    0px 21.6px 24.3px -1.8px hsl(53deg 10% 59% / 0.34),
    0.1px 32.9px 37px -2.1px hsl(53deg 10% 59% / 0.34),
    0.1px 48.5px 54.6px -2.5px hsl(53deg 10% 59% / 0.34);
}

/* GENERAL */

/* https://developer.mozilla.org/en-US/docs/Web/CSS/box-sizing */
*,
*:before,
*:after {
  box-sizing: border-box;
}

/* Set defaults for every element (in the body) */
body {
  margin: 0;
  font-family: var(--inter);
  font-weight: 400;
  font-size: var(--p);
  color: var(--text);

  background: var(--background);
}

/* Sets a max width and centers the content inside the wrapper */
.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* NAVIGATION BAR */
.nav-bar {
  position: relative;
  top: 2em;
  max-width: min(75em, 90%);
  margin: 0 auto;
  border-radius: 8px;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.125);
}
.nav-items {
  max-width: min(75em, 90%);
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.u1tbmo-logo {
  height: 4em;
  margin: 1em 0 1.2em 0;
}
.nav-buttons {
  margin: 1em;
}
.nav-buttons ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  gap: 3em;
  margin: 0;
  padding: 0;
}
.nav-buttons ul li a {
  text-decoration: none;
  color: var(--text);
  font-family: var(--ibm-plex-sans);
  font-weight: 600;
  font-size: var(--h5);
  transition: ease-in-out 0.2s;
}
.nav-buttons ul li a::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: var(--accent);
  transition: ease-in-out 0.2s;
}
.nav-buttons ul li a:hover {
  color: var(--accent);
  transition: ease-in-out 0.2s;
}
.nav-buttons ul li a:hover::after {
  width: 100%;
  transition: ease-in-out 0.2s;
}
.nav-buttons ul li a.active {
  color: var(--accent);
}
.nav-buttons ul li a.active::after {
  width: 100%;
  transition: ease-in-out 0.2s;
}

/* MEDIA QUERIES NAV-BAR */
@media (max-width: 768px) {
  .u1tbmo-logo {
    margin: 0.5em;
  }
  .nav-items {
    display: flex;
    flex-direction: column;
  }
  .nav-buttons {
    margin: 1em auto;
  }
  .nav-buttons ul li a {
    font-size: var(--h6);
  }
}
@media (max-width: 480px) {
  .u1tbmo-logo {
    height: 3em;
  }
  .nav-bar {
    top: 1em;
  }
  .nav-buttons ul {
    gap: 1.2em;
  }
  .nav-buttons ul li a {
    font-size: var(--p);
  }
}
@media (max-width: 360px) {
  .nav-buttons ul {
    gap: 0.8em;
  }
  .nav-buttons ul li a {
    font-size: var(--p);
  }
}

/* SECTIONS */
/* Set defaults for every section */
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2em 0;
}

/* Hero Section */
section.hero {
  margin-top: 6em;
}

/* Gradient Effect on Hero Text */
section.hero h1,
section.hero h2,
section.hero h3,
section.hero h4,
section.hero h5,
section.hero h6,
section.hero p {
  max-width: min(75em, 90%);
  margin: 0 auto;
  text-align: center;

  background-image: linear-gradient(
    110deg,
    hsl(240deg 73% 28%) 0%,
    hsl(240deg 68% 25%) 9%,
    hsl(240deg 64% 22%) 18%,
    hsl(240deg 61% 19%) 27%,
    hsl(240deg 65% 17%) 36%,
    hsl(240deg 69% 16%) 45%,
    hsl(240deg 73% 15%) 55%,
    hsl(240deg 77% 15%) 64%,
    hsl(240deg 81% 16%) 73%,
    hsl(240deg 83% 18%) 82%,
    hsl(240deg 83% 22%) 91%,
    hsl(240deg 83% 26%) 100%
  );
  -webkit-background-clip: text;
  background-clip: text;

  color: transparent;
}

/* Change size of emoji in the hero */
section.hero .emoji {
  width: var(--h1);
  height: var(--h1);
}

/* Align paragraphs in the hero to the center */
section.hero p {
  text-align: center;
}

/* MEDIA QUERIES - SECTION.HERO */
@media (max-width: 768px) {
  section.hero {
    margin: 1em 0;
    margin-top: 4em;
  }
  section.hero .emoji {
    width: var(--h2);
    height: var(--h2);
  }
  section.hero h1,
  section.hero h2,
  section.hero h3,
  section.hero h4,
  section.hero h5,
  section.hero h6,
  section.hero p {
    max-width: min(75em, 75%);
  }
  section.hero h1,
  section h1 {
    font-size: var(--h2);
  }
  section.hero h2,
  section h2 {
    font-size: var(--h3);
  }
  section.hero h3,
  section h3 {
    font-size: var(--h4);
  }
  section.hero h4,
  section h4 {
    font-size: var(--h5);
  }
  section.hero h5,
  section h5 {
    font-size: var(--h6);
  }
  section.hero h6,
  section h6 {
    font-size: var(--p);
  }
}
@media (max-width: 480px) {
  section.hero {
    margin: 0.5em 0;
    margin-top: 4em;
  }
  section.hero .emoji {
    width: var(--h3);
    height: var(--h3);
  }
  section.hero h1,
  section h1 {
    font-size: var(--h3);
  }
  section.hero h2,
  section h2 {
    font-size: var(--h4);
  }
  section.hero h3,
  section h3 {
    font-size: var(--h5);
  }
  section.hero h4,
  section h4 {
    font-size: var(--h6);
  }
  section.hero h5,
  section h5 {
    font-size: var(--p);
  }
  section.hero h6,
  section h6 {
    font-size: var(--small);
  }
}
@media (max-width: 360px) {
  section.hero {
    margin: 0.5em 0;
    margin-top: 4em;
  }
  section.hero .emoji {
    width: var(--h4);
    height: var(--h4);
  }
  section.hero h1,
  section h1 {
    font-size: var(--h4);
  }
  section.hero h2,
  section h2 {
    font-size: var(--h5);
  }
  section.hero h3,
  section h3 {
    font-size: var(--h6);
  }
  section.hero h4,
  section h4 {
    font-size: var(--p);
  }
  section.hero h5,
  section h5 {
    font-size: var(--small);
  }
  section.hero h6,
  section h6 {
    font-size: var(--tiny);
  }
}

/* Home (Hero) Section */
section.home p {
  font-size: var(--h6);
  max-width: min(50em, 90%);
}

section.home .hero-buttons {
  display: flex;
  gap: 2em;
  margin: 2em 0 0 0;
}

section.home .hero-buttons .cta {
  margin: 0;
}

/* MEDIA QUERIES - SECTION.HOME */
@media (max-width: 768px) {
  section.home h1 {
    font-size: var(--h2);
  }
  section.home p {
    font-size: var(--p);
  }
  section.home h1 img {
    width: var(--h2);
  }
  section.home .hero-buttons {
    gap: 1em;
  }
}
@media (max-width: 480px) {
  section.home h1 {
    font-size: var(--h3);
  }
  section.home h1 img {
    width: var(--h3);
  }
  section.home p {
    font-size: var(--p);
  }
  section.home .hero-buttons {
    flex-direction: column;
  }
}

/* Call to Action Buttons */
.cta {
  margin: 0.8em 2em;
  padding: 0.8em 2em;
  cursor: pointer;
  text-align: center;

  text-decoration: none;
  color: var(--text);
  font-family: var(--ibm-plex-sans);
  font-weight: 600;
  font-size: var(--h5);

  border: 1px solid rgba(255, 255, 255, 0.125);
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: var(--glass-primary);
  border-radius: 12px;
  box-shadow: var(--shadow-elevation-medium);
  transition: ease-in-out 0.2s;
}
.cta:hover {
  color: var(--background);
  background: var(--glass-accent);
}
.cta:active {
  color: var(--background);
  background: var(--glass-accent);
  box-shadow: inset 8px 8px 16px #32508f, inset -8px -8px 16px #466ec5;
}

@media (max-width: 768px) {
  .cta {
    padding: 0.8em 2em;
    font-size: var(--h6);
  }
}

/* Prototypes Section 
Inspired by TikTok User @codetheworld.io
https://vt.tiktok.com/ZSNaJXRJr/
*/

/* Override bottom margin to allow shadows to display properly */
section.prototypes {
  margin: 0 0 6em 0;
}

/* Style text */
.prototypes h2 {
  font-size: var(--h4);
  text-align: center;
  margin: 0 0 0.2em 0;
}
.prototypes p {
  font-size: var(--p);
  text-align: center;
  margin: 0 0 2em 0;
}

/* Prototype Images */
.proto1 {
  background: url("../images/proto1.jpg") center center;
}

.proto2 {
  background: url("../images/proto2.jpg") center center;
}

.proto3 {
  background: url("../images/proto3.jpg") center center;
}

.proto4 {
  background: url("../images/proto4.jpg") center center;
}

.final {
  background: url("../images/final.jpg") center center;
}

/* Create a grid for the prototypes */
.prototypes .container {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: min(1em, 2%);
  width: 50em;
  height: 31.25em;

  font-family: var(--ibm-plex-sans);
  font-weight: 700;

  transition: all 0.4s;

  margin: 0 auto;

  max-width: min(75em, 90%);
}

.gallery-box {
  position: relative;
  transition: all 0.4s;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  border-radius: 8px;
}

/* Hover effect for the prototypes */
.container:hover .gallery-box {
  -webkit-filter: grayscale(100%) opacity(0.8);
  filter: grayscale(100%) opacity(0.4);
}

.container .gallery-box:hover {
  -webkit-filter: grayscale(0%) opacity(1);
  filter: grayscale(0%) opacity(1);
}

.container:has(.proto1:hover) {
  grid-template-columns: 3fr 1fr 1fr 1fr 1fr;
}

.container:has(.proto2:hover) {
  grid-template-columns: 1fr 3fr 1fr 1fr 1fr;
}

.container:has(.proto3:hover) {
  grid-template-columns: 1fr 1fr 3fr 1fr 1fr;
}

.container:has(.proto4:hover) {
  grid-template-columns: 1fr 1fr 1fr 3fr 1fr;
}

.container:has(.final:hover) {
  grid-template-columns: 1fr 1fr 1fr 1fr 3fr;
}

/* MEDIA QUERIES - SECTION.PROTOTYPES */
@media (max-width: 768px) {
  .prototypes h2 {
    font-size: var(--h5);
  }
  .prototypes .container {
    width: 40em;
    height: 25em;
  }
  .gallery-box {
    border-radius: 4px;
  }
  .gallery-box {
    border-radius: 2px;
  }
}
@media (max-width: 480px) {
  .prototypes h2 {
    font-size: var(--h6);
  }
  .prototypes .container {
    width: 30em;
    height: 19.75em;
  }
}

/* About (Hero) Section */
section.about {
  display: grid;
  grid-template-columns: [main-start] 3fr [divide] 1fr [main-end];
  grid-template-areas: "col-text col-image";
  margin: 6em auto 4em auto;
  max-width: min(75em, 90%);
  width: 100%;
}
section.about h6 {
  font-weight: 600;
}
section.about .col-text {
  grid-area: col-text;
}
section.about .col-image {
  grid-area: col-image;
  display: flex;
  justify-content: center;
  align-items: center;
}
section.about .col-image img {
  width: 22em;
  margin: 0 -2em;
}
section.about h1,
section.about h2,
section.about h3,
section.about h4,
section.about h5,
section.about h6,
section.about p {
  text-align: left;
  margin: 0;
}
section.github {
  margin: 0 0 6em 0;
}
section.github img,
section.socials img {
  max-width: min(75em, 100%);
}

/* MEDIA QUERIES - SECTION.ABOUT */
@media (max-width: 768px) {
  section.about {
    align-items: center;
    grid-template-columns: 1fr;
    grid-template-areas: "col-image" "col-text";
  }
  section.about .col-text {
    grid-area: col-text;
    margin: 2em 0 0 0;
  }
  section.about .col-image {
    grid-area: col-image;
  }
  section.about .col-image img {
    width: 12em;
  }
  section.about h1,
  section.about h2,
  section.about h3,
  section.about h4,
  section.about h5,
  section.about h6,
  section.about p {
    text-align: center;
    margin: 0 auto;
  }
}
@media (max-width: 480px) {
  section.github img,
  section.socials img {
    max-width: 115%;
  }
}

/* NAV + HERO WRAPPER
This allows a background to be applied to the nav and hero section.
*/
.nav-hero-wrapper {
  position: relative;
  padding: 0 0 8em 0;
  background-color: #99e6ff;
  background-image: radial-gradient(
      at 92% 42%,
      hsla(227, 77%, 79%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(at 58% 61%, hsla(247, 96%, 76%, 1) 0px, transparent 50%),
    radial-gradient(at 34% 86%, hsla(320, 61%, 65%, 1) 0px, transparent 50%),
    radial-gradient(at 53% 69%, hsla(218, 78%, 79%, 1) 0px, transparent 50%),
    radial-gradient(at 95% 51%, hsla(286, 61%, 73%, 1) 0px, transparent 50%),
    radial-gradient(at 18% 57%, hsla(170, 64%, 75%, 1) 0px, transparent 50%),
    radial-gradient(at 93% 9%, hsla(339, 71%, 75%, 1) 0px, transparent 50%);
}

/* Shape Divider */
.nav-hero-tilt {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}
.nav-hero-tilt svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 128px;
}
.nav-hero-tilt .shape-fill {
  fill: var(--background);
}

/* Form Section */
section.form {
  display: flex;
  max-width: min(90em, 90%);
  margin: 0 auto;
  padding: 4em 0 0 0;
}
.summary,
.cost {
  display: flex;
  flex-direction: column;
  margin: 0.5em 0 1.5em 0;
  padding: 0.5em;
  outline: none;
  width: 100%;
  border-radius: 4px;
  border: solid 1px var(--background);
}

.multi {
  max-width: 100%;
}
.cost {
  background: var(--background);
}

.summary-fieldset {
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: var(--glass-secondary);
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3);
}

.summary-fieldset legend {
  font-size: var(--h5);
}

@media (max-width: 768px) {
  .summary-fieldset h6 {
    font-size: var(--h6);
  }
}

.summary-fieldset > p {
  font-weight: 600;
}

.valid {
  border: solid 1px #4caf50;
}

.invalid {
  border: solid 1px #ff5959;
}

/* Style the form, fieldset, legend, etc. */
.party-package-form {
  width: 100%;
}
.card {
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: var(--glass-primary);
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3);
}
.party-package-form fieldset {
  padding: min(2em, 5%);
  margin: 0;
  margin-bottom: 1em;
  border: none;
  width: 100%;
}
legend {
  font-family: var(--ibm-plex-sans);
  font-weight: 700;
  font-size: var(--h4);
  color: var(--text);
  text-align: center;
  width: auto;
  margin: 0 auto;
  cursor: default;

  transition: ease-in-out 0.2s;
}
.party-package-form fieldset label {
  font-family: var(--inter);
  font-weight: 400;
  font-size: var(--p);
  color: var(--text);
  cursor: default;
}
.party-details-wrapper {
  -moz-columns: 2;
  columns: 2;
}
.party-package-form fieldset .subheader {
  margin: 0.5em 0 2em 0;
  cursor: default;

  -moz-column-break-inside: avoid;
  break-inside: avoid-column;
}
.party-package-form fieldset .subheader:nth-of-type(3) {
  -moz-column-break-after: column;
  break-after: column;
  display: block;
}
.party-package-form fieldset .subheader h5 {
  font-family: var(--ibm-plex-sans);
  font-weight: 700;
  font-size: var(--h5);
  color: var(--text);
  font-size: var(--h5);

  margin: 0;
  margin-bottom: 0.5em;
}

/* MEDIA QUERIES - SECTION.FORM */
@media (max-width: 768px) {
  section.form {
    max-width: min(40em, 95%);
  }
}
@media (max-width: 480px) {
  .party-details-wrapper {
    -moz-columns: 1;
    columns: 1;
  }
  .party-package-form fieldset .subheader {
    cursor: default;

    -moz-column-break-inside: initial;
    break-inside: initial;
  }
  .party-package-form fieldset .subheader:nth-of-type(3) {
    -moz-column-break-after: initial;
    break-after: initial;
    display: initial;
  }
}

/* Style Inputs */
.type-input-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}
.type-input {
  font-family: var(--inter);
  font-weight: 400;
  font-size: var(--p);
  color: var(--text);
  margin: 0.2em 0;
  padding: 0.5em;
  border: none;
  outline: none;
  width: 100%;
  border-radius: 4px;
  background: var(--background);
}
.radio-label,
.checkbox-label {
  font-family: var(--inter);
  font-size: var(--p);
  font-weight: 400;
  line-height: 1.1;
  display: grid;
  grid-template-columns: 1em auto 4em;
  gap: 0.5em;
}
.radio-label input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: var(--background);
  margin: 0;
  font: inherit;
  color: var(--accent);
  width: 1.15em;
  height: 1.15em;
  border: none;
  border-radius: 50%;
  transform: translateY(-0.075em);

  cursor: pointer;

  display: grid;
  place-content: center;
}
.checkbox-label input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: var(--background);
  margin: 0;
  font: inherit;
  color: var(--accent);
  width: 1.15em;
  height: 1.15em;
  border: none;
  border-radius: 0.2em;
  transform: translateY(-0.075em);

  cursor: pointer;

  display: grid;
  place-content: center;
}
.radio-label input::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--accent);
}
.radio-label input:focus,
.checkbox-label input:focus {
  outline: max(2px, 0.12em) solid var(--accent);
}
.checkbox-label input::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  border-radius: 0.2em;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--accent);
  transform-origin: bottom left;
  -webkit-clip-path: polygon(
    9.8% 62.8%,
    30.5% 76.3%,
    84% 17%,
    100% 30%,
    36.3% 100%,
    0% 75.3%
  );
  clip-path: polygon(
    9.8% 62.8%,
    30.5% 76.3%,
    84% 17%,
    100% 30%,
    36.3% 100%,
    0% 75.3%
  );
}
.radio-label input:checked::before,
.checkbox-label input:checked::before {
  transform: scale(1);
}
.radio-label + .radio-label,
.checkbox-label + .checkbox-label {
  margin-top: 0.5em;
}
.venue-address-wrapper {
  display: flex;
  flex-direction: column;
  margin: 0;
}
.venue-address-wrapper .venue-address {
  width: 100%;
  resize: none;
}
.venue-address-wrapper .venue-address:disabled {
  width: 100%;
  resize: none;
  background: var(--gray);
}
.form-buttons {
  display: flex;
  flex-direction: row;
  gap: 2em;
  margin: 2em auto;
  align-items: center;
  max-width: min(75em, 90%);
}
.form-buttons input {
  font-family: var(--ibm-plex-sans);
  font-size: var(--h6);
  font-weight: 700;
  margin: 0;
  margin-bottom: 1em;
  padding: 1em 2.5em;
  cursor: pointer;
  width: 100%;

  border: 1px solid rgba(255, 255, 255, 0.125);
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: var(--glass-primary);
  border-radius: 8px;
  transition: ease-in-out 0.2s;
}
.form-buttons input:hover:enabled {
  color: var(--background);
  background: var(--glass-accent);
}
.form-buttons input:active:enabled {
  color: var(--background);
  background: var(--glass-accent);
  box-shadow: inset 8px 8px 16px #32508f, inset -8px -8px 16px #466ec5;
}
.form-buttons input:disabled {
  color: var(--text);
  background: var(--gray);
  cursor: not-allowed;
}

/* MEDIA QUERIES - SECTION.FORM */
@media (max-width: 480px) {
  .form-buttons {
    flex-direction: column;
    gap: 0.5em;
  }
  .form-buttons input {
    padding: 0.8em 2em;
  }
}

/* Order (Hero) Section */
section.order p {
  font-size: var(--h6);
  max-width: min(50em, 90%);
}

/* Footer Section */
section.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 12em 0 4em 0;
  position: relative;
  background-color: #cf99ff;
  background-image: radial-gradient(
      at 22% 45%,
      hsla(180, 74%, 54%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(at 48% 63%, hsla(233, 93%, 54%, 1) 0px, transparent 50%),
    radial-gradient(at 98% 72%, hsla(242, 99%, 54%, 1) 0px, transparent 50%),
    radial-gradient(at 49% 2%, hsla(266, 77%, 54%, 1) 0px, transparent 50%),
    radial-gradient(at 17% 74%, hsla(209, 65%, 54%, 1) 0px, transparent 50%);
}
section.footer .about,
section.footer .credits {
  margin: 0 auto;
  text-align: center;
  max-width: min(75em, 70%);
}
section.footer .about h4,
section.footer .credits h4 {
  background-image: linear-gradient(
    110deg,
    hsl(240deg 73% 28%) 0%,
    hsl(240deg 68% 25%) 9%,
    hsl(240deg 64% 22%) 18%,
    hsl(240deg 61% 19%) 27%,
    hsl(240deg 65% 17%) 36%,
    hsl(240deg 69% 16%) 45%,
    hsl(240deg 73% 15%) 55%,
    hsl(240deg 77% 15%) 64%,
    hsl(240deg 81% 16%) 73%,
    hsl(240deg 83% 18%) 82%,
    hsl(240deg 83% 22%) 91%,
    hsl(240deg 83% 26%) 100%
  );
  -webkit-background-clip: text;
  background-clip: text;

  color: transparent;
}
section.footer .about p,
section.footer .credits p {
  display: flex;
  flex-direction: column;
}
section.footer .about h4,
section.footer .credits h4 {
  margin: 0 0 0.2em 0;
}
section.footer .about {
  margin-bottom: 2em;
}
.credit-link {
  font-family: var(--inter);
  font-weight: 400;
  font-size: 1rem;
  color: var(--text);
  text-decoration: underline;
}
.credit-link + .credit-link {
  margin-top: 0.5em;
}
.footer-wrapper {
  padding: 3em 2em 2em 2em;
  border-radius: 12px;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.125);

  max-width: min(75em, 90%);
  width: 100%;
  margin: 0 auto;
}

@media (max-width: 480px) {
  .footer-wrapper {
    padding: 1.5em 1em 1em 1em;
  }
}

/* Shape Divider */
.footer-tilt {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.footer-tilt svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 128px;
}

.footer-tilt .shape-fill {
  fill: var(--background);
}
