/* Tabamo, Euan Jed S. | B-1L */
/* Exercise 9 - November 14, 2023 */
/* This is the CSS for the previous exercise. */

/* Credits

Neumorphism
https://neumorphism.io/

Fluent Emoji
https://github.com/microsoft/fluentui-emoji

Shave Divider
https://www.shapedivider.app/

Realtime Colors
https://www.realtimecolors.com/?colors=07090d-eef1f6-f2d491-c6cfe1-3c5faa

Google Fonts
IBM Plex Sans - https://fonts.google.com/specimen/IBM+Plex+Sans
Inter - https://fonts.google.com/specimen/Inter

Modern CSS
https://moderncss.dev/pure-css-custom-styled-radio-buttons/
https://moderncss.dev/pure-css-custom-checkbox-style/

Typescale - Major Third
https://typescale.com/

Glassmorphism
https://ui.glass/generator/
*/

@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;0,600;0,700;1,400&family=Inter:wght@400;600;800&display=swap");

:root {
  --text: #07090d;
  --background: #eef1f6;
  --gray: #d7dadf;
  --primary: #f2d491;
  --secondary: #c6cfe1;
  --accent: #3c5faa;
  --h1: 3.815rem;
  --h2: 3.052rem;
  --h3: 2.441rem;
  --h4: 1.953rem;
  --h5: 1.563rem;
  --h6: 1.25rem;
  --p: 1rem;
  --small: 0.8rem;
  --tiny: 0.64rem;
  --ibm-plex-sans: "IBM Plex Sans", sans-serif;
  --inter: "Inter", sans-serif;
}

/* Background Color on Overscroll
https://stackoverflow.com/a/56257456
*/
html {
  background-color: var(--primary);
}

body {
  background-color: var(--background);
  margin: 0;
  font-family: var(--inter);
  font-weight: 400;
  font-size: var(--p);
  color: var(--text);
}

h1 {
  font-family: var(--ibm-plex-sans);
  font-weight: 700;
  font-size: var(--h1);
  color: var(--text);
}
h2 {
  font-family: var(--ibm-plex-sans);
  font-weight: 700;
  font-size: var(--h2);
  color: var(--text);
}
h3 {
  font-family: var(--ibm-plex-sans);
  font-weight: 700;
  font-size: var(--h3);
  color: var(--text);
}
h4 {
  font-family: var(--ibm-plex-sans);
  font-weight: 700;
  font-size: var(--h4);
  color: var(--text);
}
h5 {
  font-family: var(--ibm-plex-sans);
  font-weight: 700;
  font-size: var(--h5);
  color: var(--text);
}
h6 {
  font-family: var(--ibm-plex-sans);
  font-weight: 700;
  font-size: var(--h6);
  color: var(--text);
}
p {
  font-family: var(--inter);
  font-weight: 400;
  font-size: var(--p);
  color: var(--text);
}

/* Navigation Bar */

.nav-bar {
  max-width: min(75em, 90%);
  margin: 0 auto;
  margin-top: 2em;
  border-radius: 12px;
  backdrop-filter: blur(16px) saturate(100%);
  -webkit-backdrop-filter: blur(16px) saturate(100%);
  background-color: rgba(255, 255, 255, 0.65);
  border: 1px solid rgba(255, 255, 255, 0.125);
}

.nav-items {
  max-width: min(75em, 90%);
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-buttons {
  margin: 1em;
}

.u1tbmo-logo {
  width: 10em;
}

.nav-buttons ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  gap: 3em;
  margin: 0;
  padding: 0;
}

.nav-buttons ul li a {
  text-decoration: none;
  color: var(--text);
  font-family: var(--inter);
  font-weight: 600;
  font-size: var(--h5);
  transition: ease-in-out 0.2s;
}

.nav-buttons ul li a:hover {
  color: var(--accent);
  text-shadow: var(--secondary) 0px 0px 4px;
  transition: ease-in-out 0.2s;
}

.nav-buttons ul li a.active {
  color: var(--accent);
}

@media (max-width: 768px) {
  .u1tbmo-logo {
    display: none;
  }
  .nav-buttons {
    margin: 1em auto;
  }
  .nav-buttons ul li a {
    font-size: var(--h6);
  }
}
@media (max-width: 480px) {
  .nav-bar {
    margin: 1em;
  }
  .nav-buttons ul {
    gap: 1.2em;
  }
  .nav-buttons ul li a {
    font-size: var(--h6);
  }
}
@media (max-width: 360px) {
  .nav-buttons ul {
    gap: 0.8em;
  }
  .nav-buttons ul li a {
    font-size: var(--p);
  }
}

/* Hero Section */

section.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2em 0;
  margin-top: 6em;
}

section.hero h1,
section.hero p {
  max-width: min(75em, 90%);
  margin: 0 auto;
  text-align: center;
  transition: ease-in-out 0.2s;
}

section.hero .emoji {
  width: var(--h1);
  height: var(--h1);
  vertical-align: middle;
}

section.hero p {
  text-align: center;
}

@media (max-width: 768px) {
  section.hero {
    margin: 1em 0;
    margin-top: 4em;
  }
  section.hero .emoji {
    width: var(--h2);
    height: var(--h2);
  }
  section.hero h1,
  section.hero p {
    max-width: min(75em, 75%);
  }
  section.hero h1 {
    font-size: var(--h2);
  }
  section.hero p {
    font-size: var(--small);
  }
}
@media (max-width: 480px) {
  section.hero {
    margin: 0.5em 0;
    margin-top: 4em;
  }
  section.hero .emoji {
    width: var(--h3);
    height: var(--h3);
  }
  section.hero h1 {
    font-size: var(--h3);
  }
}

.nav-hero-wrapper {
  position: relative;
  padding-bottom: 10em;
  background: var(--primary);
}

.nav-hero-tilt {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.nav-hero-tilt svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 128px;
}

.nav-hero-tilt .shape-fill {
  fill: var(--background);
}

/* Form Section */

.wrapper {
  max-width: min(75em, 90%);
  margin: 0 auto;
  position: relative;
}

section.form {
  display: flex;
  padding-top: 5em;
  max-width: min(40em, 100%);
  margin: 0 auto;
}

.party-package-form {
  width: 100%;
}

@media (max-width: 768px) {
  section.form {
    max-width: min(40em, 95%);
  }
}

.card {
  border-radius: 8px;
  background: var(--secondary);
  box-shadow: 20px 20px 60px #a8b0bf, -20px -20px 60px #e4eeff;
}
.party-package-form fieldset {
  position: relative;
  padding: 2em;
  margin: 0;
  margin-bottom: 4em;
  border: none;
  width: 100%;
}
.party-package-form fieldset legend {
  font-family: var(--ibm-plex-sans);
  font-weight: 700;
  font-size: var(--h4);
  color: var(--text);
  text-align: center;
  width: auto;
  margin: 0 auto;
  cursor: default;

  transition: ease-in-out 0.2s;
}
.party-package-form fieldset label {
  font-family: var(--inter);
  font-weight: 400;
  font-size: var(--p);
  color: var(--text);
  cursor: default;
}
.party-package-form fieldset .subheader {
  margin: 0;
  margin-bottom: 2em;
  cursor: default;
}
.party-package-form fieldset .subheader p {
  font-family: var(--ibm-plex-sans);
  font-weight: 700;
  font-size: var(--h5);
  color: var(--text);
  font-size: var(--h5);

  margin: 0;
  margin-bottom: 0.5em;
}
.subheader + .subheader {
  margin-top: 1em;
}
.type-input-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}
.type-input {
  font-family: var(--inter);
  font-weight: 400;
  font-size: var(--p);
  color: var(--text);
  background: var(--background);
  margin: 0.5em 0 1.5em 0;
  padding: 0.5em;
  border: none;
  outline: none;
  border-radius: 8px;
  width: 100%;
}

@media (max-width: 768px) {
  .type-input {
    font-size: var(--h6);
  }
  .party-package-form fieldset label {
    font-size: var(--h6);
  }
}
@media (max-width: 360px) {
  .party-package-form fieldset {
    padding: 1em;
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.radio-label,
.checkbox-label {
  font-family: var(--inter);
  font-size: var(--p);
  font-weight: 400;
  line-height: 1.1;
  display: grid;
  grid-template-columns: 1em auto;
  gap: 0.5em;
}

.radio-label input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: var(--background);
  margin: 0;
  font: inherit;
  color: var(--accent);
  width: 1.15em;
  height: 1.15em;
  border: none;
  border-radius: 50%;
  transform: translateY(-0.075em);

  cursor: pointer;

  display: grid;
  place-content: center;
}

.checkbox-label input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: var(--background);
  margin: 0;
  font: inherit;
  color: var(--accent);
  width: 1.15em;
  height: 1.15em;
  border: none;
  border-radius: 0.2em;
  transform: translateY(-0.075em);

  cursor: pointer;

  display: grid;
  place-content: center;
}

.radio-label input::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--accent);
}

.checkbox-label input::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  border-radius: 0.2em;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--accent);
  transform-origin: bottom left;
  -webkit-clip-path: polygon(
    14% 44%,
    0 65%,
    50% 100%,
    100% 16%,
    80% 0%,
    43% 62%
  );
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

.radio-label input:checked::before,
.checkbox-label input:checked::before {
  transform: scale(1);
}

.radio-label + .radio-label,
.checkbox-label + .checkbox-label {
  margin-top: 0.5em;
}

@media (max-width: 768px) {
  .radio-label,
  .checkbox-label {
    font-size: var(--h6);
  }
}

/* Text Area*/

.venue-address-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.venue-address-wrapper .venue-address {
  width: 100%;
  resize: none;
}

/* Submit and Reset Buttons */

.form-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 4em;
}

.form-buttons input {
  font-family: var(--ibm-plex-sans);
  font-size: var(--h6);
  font-weight: 700;
  margin: 0;
  margin-bottom: 1em;
  padding: 1em 5em;
  border: none;
  border-radius: 8px;
  background: var(--primary);
  cursor: pointer;

  border-radius: 8px;
  box-shadow: 7px 7px 14px #a6aebd, -7px -7px 14px #e6f0ff;
  transition: ease-in-out 0.05s;
}

.form-buttons input:hover {
  color: var(--background);
  background: var(--accent);
  box-shadow: inset 7px 7px 14px #32508f, inset -7px -7px 14px #466ec5;
  transition: ease-in-out 0.05s;
}

@media (max-width: 480px) {
  .form-buttons input {
    padding: 1em 3em;
  }
}

/* Footer */
section.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 8em 0 8em 0;
  position: relative;
  background: var(--primary);
}

section.footer .about,
section.footer .credits {
  margin: 0 auto;
  text-align: center;
  max-width: min(75em, 70%);
}

section.footer .credits p {
  display: flex;
  flex-direction: column;
}

section.footer .about h4,
section.footer .credits h4 {
  margin: 0;
}
section.footer .about {
  margin-bottom: 1em;
}

.credit-link {
  font-family: var(--inter);
  font-weight: 400;
  font-size: 1rem;
  color: var(--text);
  text-decoration: underline;
}

.credit-link + .credit-link {
  margin-top: 0.5em;
}

.footer-tilt {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.footer-tilt svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 128px;
}

.footer-tilt .shape-fill {
  fill: var(--background);
}
